<h1>Bonjour {{ user.username }} !</h1>

<p>Vous avez demandé à réinitialiser votre mot de passe sur <span style="color:red;">Streemi</span>.</p>

<p>Pour continuer, veuillez cliquer sur le lien suivant :</p>

<a href="{{ url }}">Réinitialiser mon mot de passe</a>

<p>Si vous n'avez pas demandé à réinitialiser votre mot de passe, vous pouvez ignorer cet email.</p>

<p>À bientôt sur Streemi !</p>

PS: Si le lien ne fonctionne pas, copiez-collez l'URL suivante dans votre navigateur : {{ url }}